:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

elterm-root-tabs {
  flex-basis: 48px;
  flex-grow: 0;
}

elterm-splittable {
  flex-basis: auto;
  flex-grow: 1;
}

.terminal {
  font-family: 'Roboto Mono';
  font-size: 0.8rem;
  margin-left: 16px;
}
