@import '~@angular/material/theming';
@include mat-core();

//  Custom Angulat Material theme

$custom-primary: mat-palette($mat-blue, 400, 200, 600);
$custom-accent:  mat-palette($mat-amber, 400, 200, 600);
$custom-warn:  mat-palette($mat-red, 400, 200, 600);
$custom-theme: mat-dark-theme($custom-primary, $custom-accent, $custom-warn);

@include angular-material-theme($custom-theme);

@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  src: url("assets/RobotoMono.ttf") format("truetype");
}

// Bridge from Angular Material variables to CSS variables

@import '~ellib/css/colors.scss';

::-webkit-scrollbar {
  display: none;
}

:root {

  --primary-color: var(--mat-blue-400);
  --accent-color: var(--mat-amber-300);
  --warn-color: var(--mat-red-400);

  --text-color: var(--mat-grey-100);
  --disabled-color: var(--mat-grey-500);
  --background-color: var(--mat-grey-900);

}

// Basic styling

@import '~ellib/css/theme.scss';

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

.as-split-gutter {
  background-color: var(--mat-gray-800) !important;
}
