:host {
  display: block;
  height: 100%;
  position: relative;
}

elterm-terminal {
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

.overlay {
  align-items: center;
  display: grid;
  filter: opacity(50%);
  font-size: 32px;
  grid-gap: 16px;
  grid-template-columns: auto auto;
  position: absolute;
  right: 16px;
  top: 16px;
  z-index: 2;

  &.swapping {
    color: var(--accent-color) !important;
    filter: opacity(100%);
  }

  &.wrapping {
    animation-duration: 500ms;
    animation-iteration-count: 3;
    animation-name: wrapping;
    animation-timing-function: ease-in-out;
    color: var(--accent-color) !important;
  }

}

@keyframes wrapping {
    0% { filter: opacity(50%); }
   50% { filter: opacity(100%); }
  100% { filter: opacity(50%); }
}
