<div
  [ngClass]="{focused: focused, swapping: swapping, wrapping: search?.wrap}"
  [ngStyle]="{color: tab.color}"
  *ngIf="prefs?.title"
  class="title">
  {{ prefs.title }}
</div>

<div
  [ngClass]="{focused: focused, swapping: swapping, wrapping: search?.wrap}"
  [ngStyle]="{color: tab.color}"
  class="badge">

  <i
    [ngClass]="tab.icon"
    class="fa-lg icon">
  </i>

  <div *ngIf="prefs?.badge">
    {{ prefs.badge }}
  </div>

</div>

<elterm-terminal
  (focused)="onFocus($event)"
  (libResized)="onResized($event)"
  [prefs]="prefs"
  [search]="search"
  [sessionID]="sessionID">
</elterm-terminal>
