<form
  [formGroup]="prefsForm"
  novalidate>

  <mat-form-field>
    <input
      formControlName="badge"
      matInput
      placeholder="Optional badge text"
      type="text">
    <button
      (click)="onClear('badge')"
      aria-label="Clear"
      mat-button
      mat-icon-button
      matSuffix>
      <fa-icon
        [icon]="['fas', 'times']">
      </fa-icon>
    </button>
  </mat-form-field>

  <mat-form-field>
    <input
      formControlName="directory"
      matInput
      placeholder="Directory to start in (default is cwd)"
      type="text">
    <button
      (click)="onClear('directory')"
      aria-label="Clear"
      mat-button
      mat-icon-button
      matSuffix>
      <fa-icon
        [icon]="['fas', 'times']">
      </fa-icon>
    </button>
  </mat-form-field>

  <mat-form-field>
    <textarea
      matAutosizeMaxRows="5"
      matAutosizeMinRows="1"
      formControlName="startup"
      matInput
      matTextareaAutosize
      placeholder="Commands to execute on start">
      </textarea>
  </mat-form-field>

  <div class="buttons">

    <div class="info">
      <fa-icon
        [icon]="['fas', 'info-circle']">
      </fa-icon>
      Preferences persist until the pane is closed, or the tab that holds it is removed.
    </div>

    <div class="okAndCancel">

      <a
        (click)="onCancel()"
        mat-button>
        Cancel
      </a>

      <button
        (click)="onSubmit()"
        [disabled]="prefsForm.invalid"
        color="primary"
        mat-raised-button
        type="submit">
        OK
      </button>

    </div>

  </div>

</form>
