:host {
  background-color: var(--background-color);
  display: block;
  padding: 16px;
  width: auto;
}

form {
  display: grid;
  grid-template-columns: 1fr;

  .buttons {
    align-items: center;
    display: grid;
    grid-gap: 16px;
    grid-template-columns: auto auto;
    justify-content: space-between;
    margin-top: 16px;

    .nextAndPrev {
      display: grid;
      grid-gap: 16px;
      grid-template-columns: auto auto;
      justify-content: right;
    }

  }

}
