<split
  (dragProgress)="onSplitSizeChange($event)"
  [direction]="layout.direction"
  [useTransition]="true"
  gutterColor="#424242"
  gutterSize="5">

  <ng-template
    ngFor
    let-split
    [ngForOf]="layout.splits"
    let-ix="index">

    <split-area
      [order]="ix"
      [size]="split.size">

      <ng-container
        *ngIf="!split.splits; else splittable">

        <elterm-pane
          [contextMenu]="menu"
          [contextMenuSubject]="{id: layout.id, ix: ix}"
          [index]="ix"
          [prefs]="split.prefs"
          [search]="split.search"
          [sessionID]="split.id"
          [swapWith]="swapWith"
          [tab]="tab">
        </elterm-pane>

      </ng-container>

      <ng-template #splittable>

        <elterm-splittable
          [layout]="split"
          [menu]="menu"
          [swapWith]="swapWith"
          [tab]="tab">
        </elterm-splittable>

      </ng-template>

    </split-area>

  </ng-template>

</split>
