:host {
  background-color: var(--mat-grey-800);
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: start;
}

div.drop-target {
  outline: 1px solid var(--text-color);
}

.icon {
  padding: 4px;
}

.label {
  margin-left: 4px;
}
